@import url("https://fonts.googleapis.com/css2?family=Danfo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

:root {
  --white: #fff;
  --creamy-baby: #f3efe9;
  --coffee-clear: #c39c71;
  --coffee-medium: #b4834d;
  --coffee-dark: #693d0e;
}

body {
  font-family: "Playfair Display", serif;
}

.erreur-404 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70vh;

  & h1 {
    font-size: 50px;
    font-weight: 700;
    color: var(--coffee-dark);
  }
  & p {
    padding-top: 20px;
    font-size: 25px;
    font-weight: 500;
    color: var(--coffee-dark);
  }
}
