.accueil {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;

  & .presentation-accueil {
    width: 50%;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 35px;

    & h2 {
      color: var(--coffee-medium);
      font-size: 22px;
      font-weight: 500;
    }

    & p {
      color: var(--coffee-dark);
      font-size: 16px;
      margin-block: 20px;
    }

    & a button {
      border: 1px solid var(--coffee-medium);
      padding: 10px;
      font-weight: 500;
      font-size: 16px;
      text-decoration: none;
      background-color: white;
      color: var(--coffee-medium);
      &:hover {
        cursor: grab;
      }
    }
  }

  & .image-accueil {
    width: 100%;

    & img {
      width: 100%;
      height: 150px;
      object-fit: cover;
    }
  }
}

.nouveautes {
  & h3 {
    background-color: var(--creamy-baby);
    color: var(--coffee-medium);
    font-size: 25px;
    font-weight: 600;
    padding-block: 25px;
    text-align: center;
  }
}
