<%- include('partials/header') %>
    <main>
      <div class="accueil">
        <div class="presentation-accueil">
          <h2>Qui sommes-nous ?</h2>
          <p>
            Jean et Jacques Pepper, deux frères passionnés par le café, sont les
            fondateurs de notre boutique. Avec une expertise approfondie et un
            amour profond pour cette délicieuse boisson, ils ont créé un espace
            où le café est célébré comme une expérience raffinée et inspirante.
          </p>
          <button class="bouton-voir-catalogue">Voir le catalogue</button>
        </div>
        <div class="image-accueil">
          <img src="../assets/about.jpg" alt="" />
        </div>
      </div>
      <div class="nouveautes">
        <h3>Nouveautés</h3>
        <div class="produits">
          <% nouveautes.forEach(nouveaute => { %>
            <div class="produit">
              
              <img class="background-produit" src="" alt="" style="background-image: url('/assets/coffees/<%= nouveaute.reference %>.png');"/>
            
              <p class="description-produit">
                <%= nouveaute.name %>
              </p>
              <button class="bouton-decouvrir">Découvrir</button>
            </div>          
          <% console.log (nouveaute.reference)}) %>          
        </div>
      </div>
    </main>
    <%- include('partials/footer') %>