<%- include('partials/header') %>
    <main>
      <div class="presentation-catalogue">
        <h2>Notre catalogue</h2>
        <img src="" alt="" />
      </div>
      <div class="produits">
        <div class="produit">
          <img class="background-produit" src="" alt="" />
          <p class="description-produit">
            Café de Madagascar, corsé et prestigieux...
          </p>
          <button class="bouton-decouvrir">Découvrir</button>
        </div>
        <div class="produit">
          <img class="background-produit" src="" alt="" />
          <p class="description-produit">
            Café du Guatemala, goûtu et mousseux...
          </p>
          <button class="bouton-decouvrir">Découvrir</button>
        </div>
        <div class="produit">
          <img class="background-produit" src="" alt="" />
          <p class="description-produit">
            Café d'Afrique, sombre et énergisant...
          </p>
          <button class="bouton-decouvrir">Découvrir</button>
        </div>
      </div>
      <div class="voir-tout">
        <button>Voir tout</button>
      </div>
    </main>
    <%- include('partials/footer') %>
