<%- include('partials/header') %>
    <main>
      <div class="illustration">
        <img src="../assets/coffees/589100954.png" alt="" />
      </div>
      <div class="details-produit">
        <header class="header-produit">
          <h2>Café du Pérou</h2>
          <p>Publié le 20/02/2022</p>
        </header>
        <p class="description-produit">
          Mmmm le bon café noir Lorem ipsum dolor sit, amet consectetur
          adipisicing elit. Consectetur laboriosam facere neque dignissimos,
          alias id at repellendus ratione asperiores consequuntur, eveniet
          explicabo voluptate laborum accusamus eligendi mollitia? Adipisci,
          assumenda quia.
        </p>
        <button class="bouton-catalogue">Catalogue</button>
      </div>
    </main>
    <%- include('partials/footer') %>
